a {
    color: #337ab7;
}
a:focus, a:hover {
    color: #23527c;
}
hr {
	border-color: #337ab7;
}
#preload_area {
    background-image: url(../img/banner1.jpg);
    background-image: url(../img/banner2.jpg);
    background-image: url(../img/fundicion.jpg);
    width: 0px;
    height: 0px;
    display: inline;
}
.text-logo {
	font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    color: #fff;
}
/* NAV BAR */
.navbar-default .navbar-header .navbar-brand {
	font-family: Arial;
	font-weight: normal;
	text-transform: none;
}
.navbar-brand i {
	display: inline-block;
    margin-right: 1px;
    width: 51px;
    transition: all .35s;
}
.navbar-brand i .logo_fill {
	fill:rgba(255,255,255,.7);
	transition: all .35s;
}
.navbar-brand:hover i .logo_fill {
	fill: #fff;
}
.navbar-default.affix .navbar-header .navbar-brand {
	color: rgba(0,0,0,0.8);
}
.navbar-default.affix .navbar-header .navbar-brand i {
	width: 40px;
}
.navbar-default.affix .navbar-header .navbar-brand i .logo_fill {
	fill: #286090;
}
.navbar-default.affix .navbar-header .navbar-brand:focus, 
.navbar-default.affix .navbar-header .navbar-brand:hover {
	color: #286090;
}
.navbar-default.affix .nav>li>a:focus:hover, 
.navbar-default.affix .nav>li>a:hover,
.navbar-default .nav>li.active>a, 
.navbar-default .nav>li.active>a:focus {
	color: #337ab7 !important;
}

/* HEADER */
header[data-slides] {
	background-repeat: no-repeat;
	background-color: #000;
	background-image: url(../img/banner1.jpg); /* Default image. */
	/*background-position: -2000px 0;*/
	transition: all 1s ease-in-out;
}
.header-content-inner h1 {
	text-shadow: 3px 2px 4px rgba(0,0,0,1);
}
.header-content-inner p b,
.text-faded b {
	font-weight: normal;
    color: #fff;
}
.btn-primary {
	background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-primary.active, 
.btn-primary.focus, 
.btn-primary:active,
.btn-primary:focus, 
.btn-primary:hover, 
.open>.dropdown-toggle.btn-primary {
	background-color: #286090;
    border-color: #204d74;
}

.bg-primary {
    background-image: linear-gradient(to right, rgba(52, 122, 183, 0.8), rgba(52, 122, 183,0.6)), url(../img/fundicion.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 105%;
    background-color: #337ab7;
}

/*  QUE HACEMOS  */
.text-primary {
    color: #337ab7;
}
.wrap-logo {
    display: inline-block;
    width: 120px;
    text-align: center;
}
.wrap-logo .logo_fill {
	fill: #337ab7;
}
.text-muted .text-logo {
	color: #000;
	font-size: 17px;
}
.fix-logo-padding {
	padding: 7px 0;
}

.portfolio-box .portfolio-box-caption {
	background: rgba(52, 122, 183,.9);
}

.dw-button {
	font-size: 40px;
	color: #fff;
	padding: 50px 30px;
}
.dw-button:hover {
	color: rgba(255,255,255,.5);
}
.dw-button .fa-4x {
	font-size: 3em;
}
.dw-button h5 {
	margin-top: 17px;
}

/* Contacto */
#contact {
	padding-bottom: 0;
}
#contact .text-logo {
	color: #000;
}

/*PUBLISHING POPUP*/
.publi-popup-body {
	text-align: center;
}
.publi-popup-content {
	background-color: transparent;
	-webkit-box-shadow: none;
    box-shadow: none;
}
.publi-popup-header {
	border-bottom: none;
}
.publi-popup-close {
	opacity: .5;
}
.publi-popup-close:hover {
	opacity: .9;
}
.svg-inline--fa {
	color: #fff;
	font-size: 2em;
}
.img-fluid {
	max-width: 100%;
	height: auto;
}


@media (max-device-width: 799px) {
	.navbar-default .navbar-header .navbar-brand:focus, 
	.navbar-default .navbar-header .navbar-brand:hover,
	.navbar-default .navbar-header .navbar-brand {
		color: #777;
	}
	.navbar-brand i .logo_fill,
	.navbar-brand:hover i .logo_fill {
    	fill: #777;
	}
	.bg-primary {
		background-image: none;
	}
}