a {
    color: #337ab7;
}
a:focus, a:hover {
    color: #23527c;
}
hr {
	border-color: #337ab7;
}
.btn-primary {
	background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-primary.active, 
.btn-primary.focus, 
.btn-primary:active,
.btn-primary:focus, 
.btn-primary:hover, 
.open>.dropdown-toggle.btn-primary {
	background-color: #286090;
    border-color: #204d74;
}
#preload_area {
    background-image: url(../img/banner1.jpg);
    background-image: url(../img/banner2.jpg);
    background-image: url(../img/fundicion.jpg);
    width: 0px;
    height: 0px;
    display: inline;
}
.text-logo {
	font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    color: #fff;
}
/* NAV BAR */
.navbar-default .navbar-header .navbar-brand {
	font-family: Arial;
	font-weight: normal;
	text-transform: none;
}
.navbar-brand i {
	display: inline-block;
    margin-right: 1px;
    width: 51px;
    transition: all .35s;
}
.navbar-brand i .logo_fill {
	fill:rgba(255,255,255,.7);
	transition: all .35s;
}
.navbar-brand:hover i .logo_fill {
	fill: #fff;
}
.navbar-default.affix .navbar-header .navbar-brand {
	color: rgba(0,0,0,0.8);
}
.navbar-default.affix .navbar-header .navbar-brand i {
	width: 40px;
}
.navbar-default.affix .navbar-header .navbar-brand i .logo_fill {
	fill: #286090;
}
.navbar-default.affix .navbar-header .navbar-brand:focus, 
.navbar-default.affix .navbar-header .navbar-brand:hover {
	color: #286090;
}
.navbar-default.affix .nav>li>a:focus:hover, 
.navbar-default.affix .nav>li>a:hover,
.navbar-default .nav>li.active>a, 
.navbar-default .nav>li.active>a:focus {
	color: #337ab7 !important;
}
.navbar-default .nav > li > language img {
	height: 90%;
}
.img-fluid {
	max-width: 100%;
	height: auto;
}

.well-sm {
	margin-bottom: 0px;	
}
#footer {
	background-color: #000;
	padding: 10px 0;
	color: #aaa;	
}

@media (max-device-width: 799px) {
	.navbar-default .navbar-header .navbar-brand:focus, 
	.navbar-default .navbar-header .navbar-brand:hover,
	.navbar-default .navbar-header .navbar-brand {
		color: #777;
	}
	.navbar-brand i .logo_fill,
	.navbar-brand:hover i .logo_fill {
    	fill: #777;
	}
	.bg-primary {
		background-image: none;
	}
}

@media (min-width: 768px) {
	.navbar-right~.navbar-right {
	    margin-right: 20px;
	}
	.navbar-right > li > language {
	    margin-top: 11px;
	}
	.navbar-default.affix .navbar-right > li > language {
		margin-top: 13px;
	}
	.navbar-default.affix .nav > li > language img {
		height: 80%;
	}
}

@media (min-width: 992px)  {
	.services-container .col-md-6 {
		min-height: 181px;
	}
}