#prevenir acceso a los archivos .htaccess
#<files .htaccess>
#order allow,deny
#deny from all
#</files>

#Manejo de errores
ServerSignature Off

#Exploración de directorios
Options -Indexes

#evitar listado de directorios
IndexIgnore *

# sirve archivos foo como archivos php
AddType application/x-httpd-php .foo
# sirve archivos foo como archivos cgi
AddType application/x-httpd-cgi .foo

